winrt-Windows.UI==3.0.0
winrt-Windows.UI.ViewManagement==3.0.0
PyQt6-Fluent-Widgets[full]==1.8.0
PyQt6==6.9.0
nvidia-cuda-runtime-cu12==12.6.77,
nvidia-cublas-cu12==12.6.4.1,
nvidia-cudnn-cu12==9.5.1.17
argostranslate==1.9.6
langdetect==1.0.9
python-docx==1.1.2